.active{
   background:linear-gradient(to right, rgb(14 165 233), rgb(99 102 241));
   color: aliceblue;
   
}
.close-animation{
   animation: animate 5s;
}
@keyframes animate{
   from{
      width:100%;
   }
   to{
      width: 0%;
   }
}